<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
</head>
<body>
  <main role="main">
    {{ content_for_layout }}

    {% case all_products['product-2'].price %}
      {% when "Product #1" %}
        This is Product number 1
      {% when "Product #2" %}
        This is Product number 2
      {% else %}
        Title of the product is neither Product#1 nor Product#2
    {% endcase %}
  </main>
</body>
</html>
